{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<!-- MAIN SECTION START -->
<section class="about-main">

    <div class="about-images-row">
        
        <div class="about-img-box ">
            <img src="{% static 'shop/images/pinkflask.png' %}" alt="">
        </div>

        <div class="about-img-box1 ">
            <img src="{% static 'shop/images/coulewhitegift.png' %}" alt="">
        </div>

        <div class="about-img-box2 ">
            <img src="{% static 'shop/images/hb.png' %}" alt="">
        </div>

    </div>

</section>
{% endblock %}