/* MAIN WRAPPER */
.contact-main {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

/* TITLE */
.contact-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

/* BANNER SECTION WITH IMAGE + YELLOW BOX */
.contact-banner {
    width: 90%;
    height: 250px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #e8b902;
    border: 3px solid #c79c00;
    border-radius: 6px;
    overflow: hidden;
}

/* LEFT IMAGE */
.contact-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT TEXT */
.contact-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-bottom: 110px;
    font-size: 18px;
    font-weight: 600;
}

/* DESCRIPTION PARAGRAPH */
.contact-desc {
    width: 80%;
    margin: 25px auto;
    color: #444;
    font-size: 15px;
}

/* CONTACT INFO GRID */
.contact-info-section {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    text-align: left;
}

/* BLOCKS */
.contact-block h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #e8b902;
}

.contact-block p {
    font-size: 14px;
    margin: 4px 0;
    color: black;
}

/* SOCIAL ICONS */
.social-icons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.social-icon-img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s ease;
}

.social-icon-img:hover {
    transform: scale(1.12);
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

    .contact-banner {
        grid-template-columns: 1fr;
    }

    .contact-text-box {
        text-align: center;
        padding: 15px;
    }

    .contact-info-section {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
