{% extends "shop/base.html" %}
{% load static %}


{% block content %}

<section class="account-page">
  <div class="container account-inner">
    <div class="account-row">
      <!-- LEFT: sidebar -->
      <aside class="account-sidebar">
        <div class="logo-wrap">
          <img src="{% static 'shop/images/logo-circle.png' %}" alt="logo" class="logo-circle">
        </div>

        <nav class="account-menu">
            <!-- Personal Information (active button) -->
            <a href="{% url 'shop:myaccount' %}" class="menu-btn ">Personal Information</a>

            <!-- My Order -->
            <a href="{% url 'shop:ordertraking' %}" class="menu-btn yellow-btn">My Order</a>

            <!-- Password Manager -->
            <a href="{% url 'shop:password' %}" class="menu-btn yellow-btn active">Password Manager</a>

            <!-- Logout -->
            <a href="{% url 'shop:logout' %}" class="menu-btn yellow-btn ">Logout</a>
        </nav>
      </aside>    
    <!-- RIGHT: main content -->
      <main class="account-main">
        <h2 class="section-title">My Account</h2>

        <div class="password-card">
          {% if messages %}
            <ul class="messages">
              {% for msg in messages %}
                <li class="message {{ msg.tags }}">{{ msg }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          <form method="post" class="password-form">
            {% csrf_token %}
            <label for="id_old_password">Password*</label>
            <input type="password" name="old_password" id="id_old_password" placeholder="Enter Password">

            <a href="#" class="forgot-link">Forget Password</a>

            <label for="id_new_password1">New Password*</label>
            <input type="password" name="new_password1" id="id_new_password1" placeholder="Enter Password">

            <label for="id_new_password2">Confirm New Password</label>
            <input type="password" name="new_password2" id="id_new_password2" placeholder="Enter Password">

            <button class="btn-yellow" type="submit" name="action" value="change">Update Password</button>
          </form>
        </div>
      </main>
    </div>
  </div>
</section>
{% endblock %}